[run]
branch = True
source =
    shop,
    warehouse

[report]
omit =
    */__init__.py
    */migrations/*
    */tests/*
    */apps.py
    */wsgi.py
    */asgi.py
    */settings.py
    */urls.py
    */manage.py
    */shop/models/*
    */warehouse/models/*
    */shop/admin/*
    */warehouse/admin/*
    */shop/api/serializers/*
    */warehouse/api/serializers/*
    */repository/*
    */signals/*
    */management/commands/*
    */shop/helper/*
